.container-calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 20px;
}

.form {
    border-radius: 20px;
    box-shadow: 0px 0px 10px #000;
    padding: 20px;
    min-height: 400px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    padding: 20px;
    border-radius: 10px;
    color: #000000;
    background-color: rgb(100, 252, 189);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}   

.btn:hover {
    color: #000;
    background-color: #72d094;
}
